<div class="layout-footer">
  <div class="wrap-2">
      <div href="contact">
          <div class="bacasime">GAME TOGETHER</div>

          <div class="ft-info">
              <h2>[MENU]</h2>
              <ul>
                  <li><a href="ps5">PS5</a></li>
                  <li><a href="ps4">PS4</a></li>
                  <li><a href="game">GAME</a></li>
                  <li><a href="etc">ETC</a></li>
              </ul>
          </div>
      </div>
  </div>
</div>

<dlv class="company">
  <h2>[COMPANY]</h2>
  <p><a href="About Us">About Us</a></p>
  <p><a href="Contack Us">Contact Us</a></p>
  <p><a href="Our Company">Our Company</a></p>
  <p><a href="Data & Sales">Data & Sales</a></p>
</dlv>
</div>
<div class="footer2">Sony Interctive Entertainment</div>