#header #logo a {
    display: block;
    width: 200px;
    height: 35px;
    background: url(../../../resources/images/logo.png);
}

#wrap {
    background: black;
}
.intro {
    color: white;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 100px;
}
.sec-g__tit {
    padding-bottom: 2.34375vw;
    font-size: 4.5rem;
    color: white;
}

.util,
.all-menu,
.search {
    color: white;
}
.sec-game {
    .title-area {
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        align-items: center;
    }
    .list-game {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li {
        overflow: hidden;
        padding: 20px;
        border: 1px solid gray;
        background: rgba(0, 0, 0, 1%);
        border-radius: 20px;
        color: white;
        margin-bottom: 20px;
    }
    img {
        width: 100%;
        height: 390px;
        object-fit: cover;
    }
}
// .game-image {
//     left: 0;
//     top: 0;
//     width: 409px;
//     height: 886px;
//     object-fit: cover;
//     transform: scale(1.05);
//     transition: all ease 0.6s;
// }
.game-1 .wrap,
> span {
    position: relative;
    border: 1px solid white;
    opacity: 90%;
    border-radius: 4px;
    width: 367px;
    height: 180px;
    color: white;
}
.type > p {
    display: block;
    color: black;
    margin-left: 10px;
}

.game-name .type .game-image {
    width: 80%;
    max-width: 500px;
    padding: 1.5rem;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.game-1 {
    display: flex;
    color: white;
    gap: 2rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

.how {
    color: white;
    margin-top: 30px;
    padding-left: 5px;
}
.md-line {
    font-weight: bold;
    font-size: 50px;
    padding-left: 15px;

    margin-bottom: 10px;
}
.how,
.play {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.how {
    font-weight: bold;
    font-size: 50px;
}
.info-tit .info-tit2 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.bacasime {
    position: relative;
    display: flex;
    padding-top: 40px;
    border-top: 1px solid #fff;
}

.layout-footer,
.ft-tit,
.company,
a {
    color: white;
}
.ft-info ul li {
    color: white;
    display: flex;
    justify-content: space-around;
}
.company p {
    display: flex;
    justify-content: space-around;
}
