.intro {
    color: $white;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 100px;
}

// .company p {
//     display: flex;
//     justify-content: space-around;
// }

////////////////////////////////////////////////
.sec-game {
    .title-area {
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        align-items: center;
    }
    .list-game {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mobileMore {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    p {
        color: $gray-50;
    }

    li {
        overflow: hidden;
        padding: 20px;
        background: rgba(18, 18, 18, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(30px);
        border-radius: 20px;
        color: $white;
        margin-bottom: 20px;
        @include mobileMore {
            width: calc(50% - 10px);
        }
    }
    img {
        display: block;
        width: 100%;
        height: 390px;
        margin-bottom: 20px;
        object-fit: cover;
        border-radius: 20px;
    }
    .sec-g__tit {
        padding-bottom: 20px;
        font-size: 4.5rem;
        color: $white;
        line-height: 1.1;
        @include mobileMore {
            font-size: 6rem;
            color: white;
        }
        @include tabletMore {
            font-size: 7rem;
            color: white;
        }
    }
    .game-1 .wrap,
    > span {
        position: relative;
        border: 1px solid $white;
        opacity: 90%;
        border-radius: 4px;
        width: 367px;
        height: 180px;
        color: $white;
        display: flex;
    }
}
.game-name .type .game-image {
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
    border: 1px solid $gray-40;
    background-color: $white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;

    .type p {
        display: block;
        color: $black;
        margin-left: 10px;
    }

    .wrap > .type,
    > span {
        display: flex;
        justify-content: space-between;
        border: 1.5px solid $white;
        font-size: 1.6rem;
        margin: 10px;
    }
}

.sec-info {
    .layout-footer,
    .ft-tit,
    .company,
    a {
        color: $white;
    }
    .info-cont {
        margin-top: 20px;
        color: $white;
        font-size: 5vw;
        line-height: 1.4;
    }
    .ft-info ul li {
        color: white;
        display: flex;
        justify-content: space-around;
    }
    .info-tit .info-tit2 {
        color: white;
        font-weight: bold;
        font-size: 50px;
    }
}

.sec-game2 {
    .game-1 {
        position: relative;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;

        img {
            display: block;
            height: 100vh;
            object-fit: cover;
        }
    }
    .wrap {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 10px;
        backdrop-filter: blur(5px);

        .date {
            font-weight: 400;
            color: $gray-90;
            font-size: 15px;
        }
        .game-name {
            margin-top: 20px;
            .type {
                display: flex;
                gap: 10px;
                margin-top: 2px;
                margin-bottom: 20px;
                span {
                    gap: 20px;
                    background: $black;
                    font-size: 1.2rem;
                    white-space: nowrap;
                    border-radius: 34px;
                    color: $white;
                    padding: 5px 15px;
                }
            }
            .cost {
                display: flex;
                flex-direction: column;
                margin-bottom: 1px;
                .title {
                    font-size: 7vw;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .price {
                    font-size: 3vw;
                    font-weight: 600;
                }
            }
        }
    }
}

.sec-how {
    .how {
        color: $white;
        justify-content: center;
        align-items: center;
        font-size: 3.6rem;
    }

    .play {
        color: $white;
        justify-content: center;
        align-items: center;
        font-size: 3.6rem;
    }
    .how {
        font-weight: bold;
        font-size: 5rem;
        @include mobileMore {
            font-size: 6rem;
            color: white;
        }
        @include tabletMore {
            font-size: 7rem;
            color: white;
        }
    }

    .bacasime {
        position: relative;
        display: flex;
        padding-top: 40px;
        border-top: 1px solid $white;
    }
    .how {
        color: $white;
        margin-top: 30px;
        padding-left: 5px;
    }
    .md-line {
        font-weight: bold;
        font-size: 5rem;
        padding-left: 15px;
        margin-bottom: 10px;
    }
}
